
  
<div class="container">
    
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   {{# each item}}
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h2 class="panel-title">{{this.name}}</h2>
             </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-9" > <img alt="User Pic" style ="width: 200px;"src="{{this.profileimg.imageUrl}}" class="img-circle img-responsive"> 
                </div>
                
              
              
                <div class="col"> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Category:</td>
                        <td>Student</td>
                      </tr>
                      <tr>
                        <td>College:</td>
                        <td>{{this.college_name}}</td>
                      </tr>
                      <tr>
                        <td>Age:</td>
                        <td>{{this.age}}</td>
                      </tr>
                   
                         <tr>
                             <tr>
                        <td>Gender</td>
                        <td>{{this.gender}}</td>
                      </tr>
                        <tr>
                        <td>Country</td>
                        <td>{{this.country}}</td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><a href="{{this.email}}">{{this.email}}</a></td>
                      </tr>     
                      </tr>
                     
                    </tbody>
                  </table>
                  
                </div>
              </div>
            </div>
                
          {{/each}}
        </div>
      </div>
    </div>